#justOneGameView {
  background-color: lightcyan;
}

#playerList {
  background-color: lightblue;
  width: 95%;
  max-width: 100rem;
  margin: auto;
  padding: 15px;
}

.playerInput {
  margin: auto;
  width: 100%;
  text-align: center;
}

.playerInfo {
  background-color: lightcoral;
  width: auto;
  display: flex;
}

.playerName {
  font-size: 1.25rem;
  flex: 75%;
  text-align: left;
}

.playerHint {
  font-size: 1.25rem;
  flex: 25%;
}

#guessBtn {
  margin: 1px auto;
}

input,
label {
  display: block;
}
