@import "../../common.css";

#lobby {
  padding: 5vh 5vw;
  height: 100vh;
  color: var(--on-bg-color);
}

#lobbyNameInput {
  margin: 20px auto;
}

.title {
  color: var(--p-color);
}

input.button {
  margin: 10px auto;
}
