@import "../../common.css";

#lobby {
  padding: 5vh 5vw;
  height: 100vh;
  color: var(--on-bg-color);
  text-align: left;
}

#lobbyNameInput {
  margin: 20px auto;
}

#titleSection {
  text-align: center;
  margin-bottom: 20px;
}

.section {
  padding: 10px 10px;
  margin-bottom: 10px;
}

.title {
  color: var(--p-color);
}

input.button {
  margin: 10px auto;
}
