@import "common.css";

#app {
  text-align: center;
  background-color: var(--bg-color);
}

html {
  background-color: var(--bg-color);
  color: var(--on-bg-color);
}

#loadingPage {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadingPage div {
  width: 20vw;
  height: 20vw;
  border-width: 1vw;
}
