:root {
  --bg-color: #121212;
  /*surface colour*/
  --sf-color: #ffffff10;
  --err-color: #cf6679;
  --p-color: #bb86fc;
  --pv-color: #3700b3;
  --s-color: #03dac6;
  --on-p-color: #000000;
  --on-s-color: #000000;
  --on-bg-color: #ffffff;
  --on-sf-color: #ffffff;
  --on-err-color: #000000;
}

.primary {
  background-color: var(--p-color);
  color: var(--on-p-color);
}

.secondary {
  background-color: var(--s-color);
  color: var(--on-s-color);
}

.surface {
  background-color: var(--sf-color);
  color: var(--on-sf-color);
}

.input {
  border: 2px solid var(--p-color);
  color: var(--on-sf-color);
}

.input:focus {
  outline: var(--s-color) 2px outset;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  transition-duration: 0.3s;
}

.button:hover {
  filter: brightness(90%);
}

.button:active {
  transform: translateZ(20px);
}
